<article>
	<img style="width: 100%;" src="{{ article.featured_image.source }}">
    <h1>{{ article.title }}</h1>
    <section ng-bind-html='toTrustedHTML( article.content )'></section>
    <div>{{ locationURL }}</div>

    <!-- Twitter -->
    <a href="http://twitter.com/share?url={{ locationURL }}&text={{ article.title }}" target="_blank" class="share-btn twitter">
        <i class="fa fa-twitter"></i>
    </a>

    <!-- Google Plus -->
    <a href="https://plus.google.com/share?url={{ locationURL }}" target="_blank" class="share-btn google-plus">
        <i class="fa fa-google-plus"></i>
    </a>

    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer/sharer.php?u={{ locationURL }}" target="_blank" class="share-btn facebook">
        <i class="fa fa-facebook"></i>
    </a>

    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?url={{ locationURL }}&title={{ article.title }}&summary={{ article.title }}&source={{ locationURL }}" target="_blank" class="share-btn linkedin">
        <i class="fa fa-linkedin"></i>
    </a>

    <!-- Email -->
    <a href="mailto:?subject=HMTL%20Share%20Buttons&body={{ locationURL }}" target="_blank" class="share-btn email">
        <i class="fa fa-envelope"></i>
    </a>

</article>